main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    font-size: 34px;
}

.btn{
    padding: 8px 20px;
    background-color: transparent;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    cursor: pointer;
    animation-duration: 3s;
    outline: none;
    border: 1px solid black;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.667);
    color: white;
}